{% extends "litreview/base.html" %}

{% block content %}
    <div class="container flex flex-col">
        <div class="container">
            {% include 'ticket/ticket_snippet.html' with ticket=review.ticket %}
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_ul }}
            <div class="container flex flex-row">
                <button type="submit">Envoyer la critique</button>
                <a href="{% url 'feed' %}" class="button">Retour</a>
            </div>
        </form>
    </div>
{% endblock %}