<div class="p-8 w-full bg-red-50 rounded-lg sahdow-lg overflow-hidden flex flex-col md:flex-col px-20">
    <h1 class="text-base text-gray-400 font-normal mb-5">
        {% if review.user != request.user %}
            Une critique de "{{ review.ticket.title }}" par {{ review.user.username }} du {{ review.time_created }}
        {% else %}
            Vous avez publié la critique de "{{ review.ticket.title }}" le {{ review.time_created }}
        {% endif %}
    </h1>
    <div class="container flex w-10/12 self-center">
        {% include "ticket/ticket_snippet.html" with ticket=review.ticket %}
    </div>
    <div class="container flex flex-col">
        <div class="container flex">
            <h2 class="text-xl text-gray-700 font-bold">Mon avis : </h2>
            <p class="text-xl">     {# For loop don't work in template : can't work with a range, and comparisaons problems (int and str) #}
    {% if review.rating == 1 %}
        &#9733; &#9734; &#9734; &#9734; &#9734;
    {% elif review.rating == 2 %}
        &#9733; &#9733; &#9734; &#9734; &#9734;
    {% elif review.rating == 3 %}
        &#9733; &#9733; &#9733; &#9734; &#9734;
    {% elif review.rating == 4 %}
        &#9733; &#9733; &#9733; &#9733; &#9734;
    {% elif review.rating == 5 %}
        &#9733; &#9733; &#9733; &#9733; &#9733;
    {% endif %}
            </p>
        </div>
        <div>
            <h3 class="text-xl text-gray-700 font-bold">{{ review.headline }}</h3>
            <p>{{ review.body }}</p>
        </div>
    </div>
    <div class="flex justify-start space-x-2 w-8/12 self-end">
        {% if request.user == review.user %}
            <a href="{% url 'review_edit' review.pk %}" class="button">Éditer la critique</a>
            <a href="{% url 'review_delete' review.pk %}" class="button bg-red-500">Supprimer la critique</a>
        {% endif %}
    </div>
</div>